@import url('http://fonts.googleapis.com/css?family=Lato:300,400,900');
@import '../../node_modules/purecss/build/pure.css'

@import 'variables'
@import 'components'
@import 'helper'

.pure-g [class *= "pure-u"]
  font-family: 'Lato', sans-serif;

body,html
  color: $black
  font-family: 'Lato', sans-serif
  background: $backgroundColor

body *
  box-sizing: border-box

.section
  padding: 0
  margin: 2em 0