@import '../variables'

.section.big-numbers
  padding: 3.5em 0
  
  .number-wrapper
    text-align: center
    color: $white
  
  .number
    font-weight: 900
    font-size: 5em
    margin-bottom: .5rem
  
  .desc
    font-weight: 300
    text-transform: uppercase