@import '../variables'

.section.big-numbers
  
  padding: 3em 0
  border-bottom: 1px solid $grey
  border-top: 1px solid $grey
  margin: 0
  
  .number-wrapper
    text-align: center
    color: $white
  
  .number
    font-weight: 900
    font-size: 4.5em
    margin-bottom: .5rem
  
  .desc
    font-weight: 300
    text-transform: uppercase