.big-numbers
  text-align: center
  padding: 3rem 1rem
  font-weight: 900
  
  .headline
    font-weight: 300
    
  .number-wrapper
    display: inline-block
    padding: 0em 2em
 
  .seperator
    display: inline-block
    height: 80px
    width: 1px
    background: #ccc
  .number
    font-size: 3.5em
    margin-top: 1.5rem
  
  .desc
    font-weight: 300
    font-size: 1rem