@import '../variables'

header
  background: $ci
  padding: .5rem 1rem
  
  .logo
    font-weight: 100
    text-transform: uppercase
    font-size: 1.7em
    color: $white
    float: left
    
  .site-select
    float: right