@import '../variables'

header
  background: $background
  padding: 1.5rem 1rem
    
  .site-select select
    font-size: 30px
    -webkit-appearance: none
    background: transparent
    outline: none
    border: none
    color: #fff
    font-weight: 900
    text-transform: uppercase