.pages-summary
  height: 400px
  padding: 0
  color: #fff
  
  .table .tr, .table .th
    padding: 1em
    border-bottom: 1px solid $grey
    background: $background
    box-sizing: border-box
    cursor: pointer
  
  .table .tr:hover
    background: darken($grey,5)

  .table .th
    font-weight: bold
    background: $grey
    
  .table .rel
    position: relative
    
  .exit-rate-indicator
    position: absolute
    left: 50px