.visit-chart
  padding: 0
  background: #37474f
  height: 150px
  padding-top: 10px
  box-sizing: initial
  path.visits
    fill: #FFB300
  path.pageviews
    fill: #FF5722
    fillOpacity: 1
  path.actions
    fill: #FF8A65